@import "../base";

& {
  width: 750px;
  overflow: hidden;
}

.smwp__head {
  display: none;
}

.smwp__head__label {
  span {
    display: none;
  }
  em{
    display: block;
    font-style: normal;
  }
}

.smwp__body {
  overflow: hidden;
  float: left;
  height: 100px;
  width: 625px;
}

.smwp__item {
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  float: left;
  width: 305px;
  height: 100px;
}

.smwp__item__info {
  position: relative;
  margin: 10px;
  padding: 0;
  text-align: center;
}

.smwp__item__info__title{
  position: absolute;
  top: 12px;
  width: 245px;
  text-align: left;
  @include box-sizing(border-box);
  padding: 0 10px;
  font-size: 16px;
}

.smwp__item__prices{
  width: 245px;
  position: relative;
  top: -60px;
  float: right;
}
.smwp__item__prices__item{
  padding: 0 10px;
}
.smwp__item__info{
  margin: 0;

}
.smwp__item__info__img{
  height: 100px;
  width: 60px;
  img{
    max-width: 50px;
  }
}

.smwp__footer{
  float: right;
  width: 118px;
  padding: 0;
  @include box-sizing(border-box);
  padding: 19px 16px 0 0;
  text-align: right;
}

.smwp__logo{
  float: right;
}
.smwp__logo__img{
  position: relative;
  left: 10px;
}

.smw__ya{
  float: right;
}